/*name: accessible.css
purpose: Color theme that is accessible to those who are color blind or have other difficulties seeing traditional looking applications
date: 5/31/2021
author(s): Summer Beasley, Jiacong Li
dependencies: NONE
*/


:root{
    --bg-color: #C8C8C8;
    --nav-bg-color: #000;
    --active-color: #ffffff;
    --radio-hover-color: lightgray;
    --radio-active-color: gray;
}

h1{
    color: #000;
}
h2{
    color: #000;
}
h3{
    color: #000;
}
h4{
    color: #000;
}
p{
    color: #000;
}
strong{
    color: #000;
}

.sidenav{
  background: #a0a0a0;
}

.sidenav a:hover{

    color: lightgray;
    text-decoration: none;
  }


body{
    color: #000;
    background: var(--bg-color);
}

.l-nav{
    background: var(--nav-bg-color);
}

/* Active Links /
.active{
    color: var(--active-color);
}

.active::before{
    background-color: var(--active-color);
}

/ This is the user added cards */
.a1{
    color: #000;
    background: white;
}

.a1 span {
    color: #a0a0a0;
}
