{% extends 'layouts/base.html' %}
{% block content %}
  <h1>Generate Meeting</h1>
  <h2> {{ info }} </h2>

  <!--
    Meeting title 
    Description
    Senior, only senior required
    General, all required

    each role has lead version
    software developer
    product manager
    ui/ux designer
    software test engineer
  -->
  <form action="{{url_for('updateMeeting')}}" method="POST">
	  <label for="meeting_time">Meeting Time</label></br>
	  <input type="text" name="time" value={{ info }} readonly></br>
	  <label for="meeting_title">Meeting Title</label></br>
	  <input type="text" id="title" name="title" required size="25"></br>
	  <label for="meeting_desc">Meeting Description</label></br>
	  <input type="text" id="desc" name="desc" required size="100"></br>
	  {% set roles=["Senior:product:manager", "Senior:software:developer", "Senior:UI_UX:designer", "Senior:software:test:engineer", "Product:manager", "Software:developer", "UI_UX:designer", "Software:test:engineer"] %}
	  {% for role in roles %}
		<input type="checkbox" id={{ role }} name= {{ "role" }} value={{ role }}>
		<label for={{ "role" }}>{{ role | replace(":", " ") }}</label></br>
	  {% endfor %}
	  </br>
	  <input type="submit" name="confirm" value="Confirm">
  </form>
{% endblock %}
