{% extends 'layouts/base.html' %}

{% block content %}

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js'></script>

  <form action="{{url_for('index')}}" method="POST">
    <label for="date">Date</label><br>
    <input type="date" id="starting_date" name="starting_date" value=""><br>
    <label for="offset">Offset</label><br>
    <select name="offset" id="offset">
      <option value="week">Week</option>
      <option value="month">Month</option>
    </select>
    <br>
    <label for="hours">Number of hours</label><br>
    <input type="number" id="hours" name="hours" min = "1" max="24" step="1" value="1"><br>
    <br>
    <label for="needed">Who's needed?</label><br>
    <select name="needed" id="needed">
      <option value="Lead">Lead</option>
      <option value="General">General</option>
    </select>
    <br>
    <input type="submit" name="generate" value="Generate">
  </form>

  <script>


      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
      });

    </script>

    {% if not time_slots  %}
      <h1>No possible times fit. Please try again with different parameters</h1>
    {% elif time_slots|length==1 and not time_slots[0] %}
    {% else %}
    <form action="{{url_for('generateMeeting')}}" method="POST" >
      <label for="time_slot">Time Slot</label><br>
      <select name="time_slot" id="time_slot">
      {% for dic in time_slots %}
      {% for day, hours in dic.items() %}
        {% if hours|length == 1 %}
          {% set st = hours[0]|string %}
        {% else %}
          {% set st = hours[0]|string + "-" + hours[-1]|string %}
        {% endif %}
        if len(hours)==1, str = day[0]
        <option value={{ (day, (hours[0],hours[-1]+1)) }}>{{ "days "+day|string }}:{{ "hours "+st }}</option>
      {% endfor %}
      {% endfor %}
      </select>
    <input type="submit" value="Select time">
    </form>
    {% endif %}

    <!--<div id='calendar'></div>-->

<br>


  <script>
    document.getElementById('starting_date').valueAsDate = new Date();
  </script>


{% endblock %}
